/* STARTED OUT USING CSS TO COLOR THE REINDEER NAMES THEN REALIZED CSS COULD BE OMITTED
BY CODING THE FONT COLOR WITH A STRING OF THE COLOR PROPERTY IN A FONT TAG IN THE
INNERHTML PART OF THE CONTROLLER.JS

LEAVING THIS FILE HERE WITH THE CODE COMMENTED OUT

.Blue {
    color: blue;
} 

.Red {
    color: red;
}

.Orange {
    color: orange;
}

.Purple {
    color: purple;
}

.Goldenrod {
    color: goldenrod;
}

.Aquamarine {
    color: aquamarine;
}

.Olive {
    color: olive;
}

.Azure {
    color: azure;
}

.Fuchsia {
    color: fuchsia;
}

.Chocolate {
    color: chocolate;
}

.Salmon {
    color: salmon;
}

.Amaranth {
    color: #E52B50;
}
*/