.Blue {
    color: blue;
} 

.Red {
    color: red;
}

.Orange {
    color: orange;
}

.Purple {
    color: purple;
}

.Goldenrod {
    color: goldenrod;
}

.Aquamarine {
    color: aquamarine;
}

.Olive {
    color: olive;
}

.Azure {
    color: azure;
}

.Fuchsia {
    color: fuchsia;
}

.Chocolate {
    color: chocolate;
}

.Salmon {
    color: salmon;
}

.Amaranth {
    color: #E52B50;
}